if RZA1

# required by the Ethernet driver
config R7S72100
	bool
	default y

# required by serial and usb driver
config CPU_RZA1
	bool
	default y

choice
	prompt "Renesas RZ/A1 board select"

# Renesas Supported Boards
config TARGET_RSKRZA1
	bool "RZ/A1H RSK board"
	select BOARD_LATE_INIT

# ENTER YOUR CUSTOM BOARD BELOW HERE TO AVOID MERGE CONFLICTS (TAG_TARGET)

endchoice

config SYS_SOC
	default "rmobile"

# Renesas Supported Boards
source "board/renesas/rskrza1/Kconfig"

# ENTER YOUR CUSTOM BOARD BELOW HERE TO AVOID MERGE CONFLICTS (TAG_KCONFIG)


endif

